{{define "generation-calculation-request"}}
<!DOCTYPE html>
<html>
{{template "head" .}}

<body>
    {{template "header" .}}
    <main>
        <h1>Заявка расчета генерации</h1>
        <form class="generation-calculation-request">
            <div class="properties">
                <div class="period-selector__wrapper">
                    <p>Период расчета:</p>
                    <div class="period-selector__radio">
                        <input type="radio" name="period" id="year" value="year" {{if eq
                            .generationCalculationRequest.Period "year" }}checked{{end}}><label for="year">Год</label>
                        <input type="radio" name="period" id="month" value="month" {{if eq
                            .generationCalculationRequest.Period "month" }}checked{{end}}><label
                            for="month">Месяц</label>
                    </div>
                </div>
            </div>
            <div class="calculation-request__table-header">
                <span>
                    Турбина:
                </span>
                <span>
                    Мощность:
                </span>
                <span>
                    Мачта:
                </span>
                <span>
                    V<sub>ср. ветра</sub>(10 м), м/с:
                </span>
                <span>
                    ɑ-коэффициент:
                </span>
                <span>
                    Выработка за период:
                </span>
            </div>
            <div class="generation-calculation-request-details">
                {{range $i, $selectedTurbineParams := .generationCalculationRequest.SelectedTurbines}}
                {{with $selectedTurbineParams}}
                <div>
                    <div>
                        <img src="{{.Turbine.ImageSrc}}" alt="Изображение {{.Turbine.Title}}">
                        <h2>{{.Turbine.Title}}</h2>
                    </div>
                    <span>
                        <b>
                            {{.Turbine.Power}} кВт
                        </b>
                    </span><span>
                        <b>
                            {{.Turbine.Height}} м
                        </b>
                    </span>
                    <input type="number" id="wind-{{$i}}" value="{{.AvgVelocity}}" step="0.1" min="0.1" max="50" />
                    <input type="number" id="alpha-{{$i}}" value="{{.Alpha}}" step="0.01" min="0.1" max="2" />
                    <b class="expected-generation">{{.CalculatedGeneration}} МВт</b>
                </div>
                {{end}}
                {{end}}
            </div>
        </form>
    </main>
</body>

</html>
{{end}}