{{define "generation-request"}}
<!DOCTYPE html>
<html>
{{template "head" .}}

<body>
    {{template "header" .}}
    <main>
        <h1>Заявка расчета генерации</h1>
        <div class="generation-request">
            <div class="properties">
                <div class="period-selector__wrapper">
                    <label for="generationPeriod">Период расчета (дней):</label>
                    <input type="number" name="generationPeriod" id="generationPeriod" value="{{.generationRequest.PeriodDays}}" min="1" max="3650">
                </div>
                <form action="/delete-generation-request" method="post">
                    <button class="btn btn--danger" type="submit">Удалить заявку</button>
                </form>
            </div>
            <div class="generation-request__table-header">
                <span>
                    Турбина:
                </span>
                <span>
                    Мощность:
                </span>
                <span>
                    Мачта:
                </span>
                <span title="Средняя скорость ветра на высоте 10 метров">
                    V<sub>ср. ветра</sub>(10 м), м/с:
                </span>
                <span title="ɑ-коэффициент местности">
                    ɑ-коэффициент:
                </span>
                <span>
                    Выработка за период:
                </span>
            </div>
            <div class="generation-request-details">
                {{range $i, $TurbineParams := .generationRequest.TurbineGenerationRequests}}
                {{with $TurbineParams}}
                <div>
                    <div>
                        <img src="{{.Turbine.ImageSrc}}" alt="Изображение {{.Turbine.Title}}">
                        <h2>{{.Turbine.Title}}</h2>
                    </div>
                    <span>
                        <b>
                            {{.Turbine.Power}} кВт
                        </b>
                    </span><span>
                        <b>
                            {{.Turbine.Height}} м
                        </b>
                    </span>
                    <input type="number" id="wind-{{$i}}" value="{{if .AvgVelocity}}{{.AvgVelocity}}{{else}}1{{end}}" step="0.1" min="0.1" max="50" />
                    <input type="number" id="alpha-{{$i}}" value="{{if .Alpha}}{{.Alpha}}{{else}}1{{end}}" step="0.01" min="0.1" max="2" />
                    <b class="expected-generation">
                        {{if .CalculatedGeneration}}
                            {{.CalculatedGeneration}} МВт
                        {{else}}
                            Н/Д
                        {{end}}
                    </b>
                </div>
                {{end}}
                {{end}}
            </div>
        </div>
    </main>
</body>

</html>
{{end}}