{{define "list"}}
<!DOCTYPE html>
<html>
    {{template "head" .}}
    <body>
        {{template "header" .}}
        <main>
            <h1>Ветрогенераторы{{if .query}} (поиск: "{{.query}}"){{end}}</h1>
            <ul class="turbines-list">
                {{range .turbines}}
                <li>
                    <div class="turbine-card">
                        <img src="{{.ImageSrc}}" alt="Фото {{.Title}}">
                        <div class="details">
                            <p class="title">{{.Title}}</p>
                            <ul class="properties">
                                <li>
                                    <p>Мощность:</p>
                                    <div class="separator"></div>
                                    <p>{{.Power}} кВт</p>
                                </li>
                                <li>
                                    <p>Мачта:</p>
                                    <div class="separator"></div>
                                    <p>{{.Height}} м</p>
                                </li>
                            </ul>
                            <div class="buttons-wrapper">
                                <a class="btn" href="/turbines/{{.ID}}">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </li>
                {{end}}
            </ul>
        </main>
        {{template "calc-button" .}}
    </body>
</html>
{{end}}