{{define "turbines-list"}}
<!DOCTYPE html>
<html>
    {{template "head" .}}
    <body>
        {{template "header" .}}
        <main>
            <div class="turbines-list__title-wrapper">
                <h1>Ветрогенераторы{{if .turbineTitleQuery}} (поиск: "{{.turbineTitleQuery}}"){{end}}</h1> 
                {{if .generationRequestItems}}           
                    <a href="/generation-request" class="btn btn-with-image">
                        Расчет ({{.generationRequestItems}})
                        <div class="images-wrapper">
                            <img class="default" src="/static/icons/generation-request.png" alt="">
                            <img class="hovered" src="/static/icons/generation-request-hover.png" alt="">
                        </div>
                    </a>
                {{end}}
                <form class="turbine-search" action="/turbines" method="GET">
                    <input type="text" name="turbine-title-query" placeholder="Поиск" value="{{.turbineTitleQuery}}">
                    <button class="btn search-btn" type="submit">
                        <svg viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.6817 0.307453C5.59747 0.307453 0.640747 5.26418 0.640747 11.3484C0.640747 17.4326 5.59747 22.3893 11.6817 22.3893C14.3135 22.3893 16.7329 21.4597 18.6329 19.9146L26.103 27.3848C26.3895 27.6832 26.8149 27.8034 27.2152 27.6991C27.6154 27.5947 27.928 27.2821 28.0323 26.8819C28.1367 26.4816 28.0165 26.0562 27.7181 25.7697L20.2479 18.2996C21.7929 16.3996 22.7226 13.9802 22.7226 11.3484C22.7226 5.26418 17.7659 0.307453 11.6817 0.307453ZM11.6817 2.59179C16.5314 2.59179 20.4383 6.49873 20.4383 11.3484C20.4383 13.7109 19.5064 15.8453 17.9948 17.4176C17.9017 17.4861 17.8194 17.5684 17.7509 17.6615C16.1786 19.1731 14.0442 20.105 11.6817 20.105C6.83202 20.105 2.92509 16.1981 2.92509 11.3484C2.92509 6.49872 6.83201 2.59179 11.6817 2.59179Z" fill="currentColor"/>
                        </svg>
                    </button>
                </form>
            </div>
            <ul class="turbines-list">
                {{range .turbines}}
                <li>
                    <div class="turbine-card">
                        <img src="{{.ImageSrc}}" alt="Фото {{.Title}}">
                        <div class="details">
                            <p class="title">{{.Title}}</p>
                            <ul class="properties">
                                <li>
                                    <p>Мощность:</p>
                                    <div class="separator"></div>
                                    <p>{{.Power}} кВт</p>
                                </li>
                                <li>
                                    <p>Мачта:</p>
                                    <div class="separator"></div>
                                    <p>{{.Height}} м</p>
                                </li>
                            </ul>
                            <div class="buttons-wrapper">
                                <a class="btn" href="/turbines/{{.ID}}">Подробнее</a>
                                <form action="/generation-request" method="post">
                                    <button class="btn" name="turbineId" value="{{.ID}}" type="submit">Рассчитать</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
                {{end}}
            </ul>
        </main>
    </body>
</html>
{{end}}