:root {
    --bg-color: #fff;
    --bg-color-secondary: #e7e7e7;

    --text-color-primary: #000;
    --text-color-secondary: #5b5b5b;
    --text-color-accent: #fff;

    --primary-color: #5ba1d4;
    --secondary-color: #5b5b5b;

    --btn-bg-color: var(--primary-color);
    --btn-text-color: var(--text-color-accent);
    --btn-bg-color-hover: var(--bg-color);
    --btn-text-color-hover: var(--primary-color);

    --btn-bg-color-disabled: #7c7c7c;
    --btn-bg-color-danger: #d9534f;
    --btn-bg-color-hover-danger: #c9302c;

    --input-border-color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;

    font-family: "Ubuntu";
}

header {
    top: 0;
    position: sticky;

    background-color: var(--bg-color);

    width: 100%;
    margin-bottom: 24px;

    .header__block {
        display: flex;
        padding: 24px 0;

        border-bottom: 5px solid var(--primary-color);
    }

    .header__grid {
        height: 48px;
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        gap: 32px;

        .logo {
            color: var(--secondary-color);

            font-weight: bold;
            font-size: 36px;
            line-height: 48px;
        }
    }
}

main {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 60px;

    h1 {
        box-sizing: border-box;

        color: var(--secondary-color);

        text-transform: uppercase;

        font-weight: bold;
        font-size: 36px;
        line-height: 48px;

        margin: 36px 0;
    }
}

.btn {
    display: flex;
    gap: 10px;

    text-decoration: none;
    text-transform: uppercase;

    font-size: 12px;
    line-height: 18px;

    padding: 12px 30px;

    border: 1px solid var(--btn-bg-color);
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    fill: var(--btn-text-color);

    transition: background-color .2s ease-in-out,
    color .2s ease-in-out;

    &:hover {
        background-color: var(--btn-bg-color-hover);
        color: var(--btn-text-color-hover);
        fill: var(--btn-text-color-hover);
    }

    &:disabled, &:disabled:hover {
        background-color: var(--btn-bg-color-disabled);
        border-color: var(--btn-bg-color-disabled);
        color: var(--btn-text-color);
        fill: var(--btn-bg-color-disabled);
    }
}

.btn--danger {
    border: 1px solid var(--btn-bg-color-danger);
    background-color: var(--btn-bg-color-danger);

    &:hover {
        background-color: var(--btn-bg-color-hover-danger);
        color: var(--btn-text-color);
        fill: var(--btn-text-color);
    }
}

.btn-with-image {
    font-size: 14px;
    justify-self: end;
    align-items: center;

    svg {
        fill: var(--btn-text-color);
        height: 16px;
        width: 16px;
    }

    &:hover {
        fill: var(--btn-text-color-hover);

        .images-wrapper {

            img,
            svg {
                &:hover-within {
                    display: block;
                }

                &:hover-within {
                    display: none;
                }
            }
        }
    }

    .images-wrapper {

        img,
        svg {
            height: 16px;
            width: 16px;

            &.default {
                display: block;
            }

            &.hovered {
                display: none;
            }
        }
    }
}

.turbine-card {
    background-color: var(--bg-color-secondary);

    min-width: 330px;
    max-width: 380px;

    display: flex;
    flex-direction: column;

    img {
        height: 220px;
        object-fit: cover;
        object-position: top;
    }

    .details {
        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 30px;

        .title {
            font-weight: 600;
            font-size: 20px;
            color: var(--text-color-secondary);

            margin-bottom: 5px;
        }

        .properties {
            list-style: none;

            li {
                display: grid;
                grid-template-columns: auto 1fr auto;
                gap: 10px;
                align-items: center;

                color: var(--text-color-primary);
                font-size: 16px;

                .separator {
                    height: 14px;
                    border-bottom: 1px dotted var(--text-color-primary);
                }
            }
        }

        .buttons-wrapper {
            margin-top: 20px;

            display: flex;
            gap: 10px;
        }
    }
}

.turbines-list__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 36px 0;

    h1 {
        margin: 0;
    }

    .turbine-search {
        height: 100%;

        display: grid;
        grid-template-columns: 1fr auto;

        border: 1px solid var(--input-border-color);

        input {
            max-width: 250px;
            width: 100%;

            border: none;

            padding: 8px 16px;

            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
        }

        button {
            height: 100%;
            aspect-ratio: 1;

            &.search-btn {
                padding: 8px;
                border: 1px solid var(--btn-bg-color);
                border-top-width: 0;
                border-bottom-width: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

.turbines-list {
    list-style: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

.turbine-details {
    background-color: var(--bg-color-secondary);

    display: flex;

    .left-column {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 30px;

        img {
            height: 350px;
            aspect-ratio: 1;
            object-fit: cover;
        }

        ul {
            list-style: none;

            padding: 0 25px;
        }
    }

    .right-column {
        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 30px;

        h1 {
            font-size: 40px;
            font-weight: bold;
            color: var(--text-color-secondary);
        }

        p {
            font-size: 14px;
            line-height: 22px;
            font-weight: 300;
        }
    }
}

.generation-request {
    margin-top: -10px;

    .properties {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 18px;

        .period-selector__wrapper {
            display: flex;
            align-items: center;
            gap: 10px;

            font-size: 20px;
            line-height: 24px;
            font-weight: 400;

            input {
                border-style: solid;
                border-color: var(--secondary-color);
                background-color: var(--bg-color);

                margin-left: 5px;

                padding: 6px 12px;

                -moz-appearance: textfield;

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    appearance: none
                }
            }
        }
    }

    .generation-request__table-header {
        display: grid;
        grid-template-columns: 300px 1fr 1fr 1fr 1fr 200px;
        justify-content: space-between;
        background-color: var(--bg-color-secondary);
        
        align-items: center;
        justify-items: center;

        margin-top: 30px;
        margin-bottom: 10px;

        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    .generation-request-details {
        display: flex;
        flex-direction: column;
        gap: 20px;

        > div {
            background-color: var(--bg-color-secondary);

            display: grid;
            grid-template-columns: 300px 1fr 1fr 1fr 1fr 200px;
            justify-content: space-between;
            align-items: center;
            justify-items: center;

            :first-child {
                display: flex;
                gap: 20px;
                align-items: center;
                justify-self: flex-start;

                img {
                    display: block;
                    height: 100px;
                    width: 100px;
                    object-fit: cover;
                }
            }

            input {
                border-style: solid;
                border-color: var(--secondary-color);
                background-color: var(--bg-color);

                margin-left: 5px;

                padding: 6px 12px;

                -moz-appearance: textfield;

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    appearance: none
                }
            }
        }

    }

    .expected-generation {
        font-size: 20px;
    }
}